<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	
	</head>
	<body>
		
		<header>
			<div class="container">

				<div id="logo">
					<img src="{{ url_for('static', filename='img/logo2.png') }}">
				</div>

				<div id="menu">
					<a href="{{ url_for('homepage')}}">HOME</a>
					<a href="{{ url_for('flights_registered_db')}}">FLIGHTS</a>
					<a href="{{ url_for('register')}}">REGISTER FLIGHTS</a>
					<a href="{{ url_for('passagers_view')}}">REGISTER PASSAGERS</a>
				</div>
			</div>	

		</header>
		<div id="principal">
			<div id="efeito">
				<div class="container"> </div>
					<p>
						{% block body%}
						{% endblock %}
					</p>
				</div>
			</div>		
		</div>
	<footer>corpyright by flygths line free</footer>
	</div>
	</body>
</html>