{% extends "base.html"%}
	{% block body%}
		<title> Flights Resgistered </title>
			<h3>Flights Resgistered</h3>
			{% for flight in flights %}
				<ul>
					<li> Origin: {{ flight.origin }} </li>
					<li> destinatio: {{ flight.destination }} </li>
					<li> Duration: {{ flight.duration }} </li>	
					
				</ul>
			{% endfor%}	

			<h3> Passagers </h3>
			<ul>
				{% for passenger in passengers %}
					<li>Name: {{ passenger.name }}</li>
				{% else %}
					<li> No Passangers</li>	
				{% endfor %}	
			</ul>
		
	{% endblock %}