{% extends "base.html"%}
	{% block body%}
		<title> Flights Resgistered </title>
		<div id="direita">
			<h2>All Flights Resgistered</h2>
			{% for flight in flights %}
				<ul>
					<li>
						<a href="{{ url_for('flights_detail', flight_id=flight.id)}}">
							{{ flight.origin }} To {{ flight.destination }} 

						</a>
					</li>
					
				</ul>
			{% endfor%}
		</div>		
		<div id="esquerda">	

			<h2> Passagers Resgistered </h2>
			<ul>
				{% for passenger in passengers %}
					<li>Name: {{ passenger.name }}</li>
				{% else %}
					<li> No Passangers</li>	
				{% endfor %}	
			</ul>
		</div>
	{% endblock %}