<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<h2> FLIGTHS LINE FREE </h2>
</head>


<head>
	<div class="contanier">
		<div id="logo">
			<img src="{{ url_for('static', filename='img/logo.png') }}">
		</div>
		<div id="menu">
			<a href="#">HOME</a>
			<a href="flights">FLIGHTS</a>
			<a href="register">REGISTER FLIGHTS</a>
			<a href="passengers">REGISTER PASSAGERS</a>
		</div>
	</div>
</head>
<div id="principal">
	<div class="efeito">
		<div class="contanier">
			<body>
				<h2>jdjjflsfsdlfgkdslfgkdslkgldsgls</h2>
				{% block body%}
				{% endblock %}
			</body>
		</div>
	</div>
</div>
<footer> corpyright by flygths line free </footer>

</html>