{% extends "base.html"%}
	{% block body%}
	<title> Register Flights </title>


		<h1>Register New Flights </h1>
		<h3>origin</h3>
		<form action="/imput-flights", method="POST">
			<input type="text" name="Origin" class="form-control" autofocus>
			<h3>Destination</h3>
			<input type="text" name="Destination" class="form-control" autofocus>
			<h3>Duration Flights</h3>
			<input type="number" name="Duration"class="form-control" autofocus>
			<h3></h3>
			<button type="submit" class="btn btn-primary"> 
			Save </button>
		</form>
	{% endblock %}