<!doctype html>

 <head>
 	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
 	<h1>FLIGTHS LINE FREE </h1>
 </head>		
 	<body>
 		<head>
 			<div class="container">
 				<div id="logo">
 					<img src="{{ url_for('static', filename='img/logo.png') }}">
 				</div>
 			</div>
			<div id="div_body">
				<h1> Flights </h1>
	 
    			<p>{{ context }} </p>
          
          	</div>
 		
            
 		</body>
 	<footer>corpyright by flygths line free </footer>
 </head>